<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.github.dcierra.darwinrelay.http</string>
  <key>ProgramArguments</key>
  <array>
    <string>__APP_EXECUTABLE__</string>
    <string>--start</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key><string>__HOME__</string>
    <key>DARWINRELAY_HOME</key><string>__PACKAGE_DIR__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key><false/>
  </dict>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>ProcessType</key>
  <string>Interactive</string>
  <key>LimitLoadToSessionType</key>
  <string>Aqua</string>
  <key>StandardOutPath</key>
  <string>__STDOUT_LOG__</string>
  <key>StandardErrorPath</key>
  <string>__STDERR_LOG__</string>
</dict>
</plist>
